#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	documentStorage: %appDir%/../DocumentStorage

php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days


doctrine:
	metadata:
		App: %appDir%

decorator:
	App\Model\Pdf\IPdfTemplate:
		inject: true

extensions:
	seo: Brabijan\SeoComponents\DI\SeoExtension
	images: Brabijan\Images\DI\ImagesExtension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	doctrine2identity: Majkl578\NetteAddons\Doctrine2Identity\DI\IdentityExtension

services:
	- App\Router\RouterFactory
	router: @App\Router\RouterFactory::createRouter

	# users
	- App\Components\SignInForm
	- App\Model\Security\UserFacade(@doctrine.dao(App\Model\Security\User))
	- App\Model\Security\Authenticator
	- App\Components\SetUserForm
	-
		class: App\Model\Cli\Users\CreateUser
		tags: [kdyby.console.command]

	# events
	- App\Model\Event\Facade\Event
	- App\Model\Event\Facade\Performance
	- App\Model\Event\Facade\Child
	- App\Components\SetEventForm
	- App\Components\SetPerformanceForm

	# priority sorter
	- App\Model\Priority\Sorter
	-
		class: App\Model\Priority\FillPriorityFieldSubscriber
		tags: [kdyby.subscriber]

	# pdf
	- App\Model\Pdf\PdfGenerator(%documentStorage%, %tempDir%)
	- App\Model\Pdf\Template\EventReportFactory

	# static targets
	-
		class: App\Model\StaticTargetList
		tags: [ Brabijan.seo.targetSectionProvider ]