{block #content}
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a n:href="Event:">Události</a></li>
                <li><a n:href="Event:detail $event->id">{$event->name}</a></li>
                <li class="active">Seznam představení</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class=col-sm-8>
            <h1>{$event->name}
                <small>{$event->date|date:'j.n.Y'} @ {$event->place}</small>
            </h1>
            <table class="table table-hover table-striped" id="sort">
                <thead>
                <tr>
                    <th>Autor skladby</th>
                    <th>Název skladby</th>
                    <th>Poznámka</th>
                    <th>Žáci</th>
                    <th>Nástroj</th>
                    <th>Ročník</th>
                    <th class="icon_column"></th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$event->performances as $performance" id="performance_{$performance->id}">
                    <td>
                        <a n:href=":Event:performanceDetail $event->id, $performance->id">{$performance->songAuthor|nl2br|noescape}</a>
                    </td>
                    <td>
                        <a n:href=":Event:performanceDetail $event->id, $performance->id">{$performance->songName|nl2br|noescape}</a>
                    </td>
                    <td>{$performance->note|nl2br|noescape}</td>
                    <td>
                        {foreach $performance->children as $child}
                            {$child->name}{sep}<br/>{/sep}
                        {/foreach}
                    </td>
                    <td>
                        {foreach $performance->children as $child}
                            {$child->instrument}{sep}<br/>{/sep}
                        {/foreach}
                    </td>
                    <td>
                        {foreach $performance->children as $child}
                            {$child->class}{sep}<br/>{/sep}
                        {/foreach}
                    </td>
                    <td><a n:href="deletePerformance! $event->id, $performance->id" class="delete"><i
                                    class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
            <div class="well">
                <h2>Přidat představení</h2>

                <form n:name="addPerformanceForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label n:name="songAuthor">Autor skladby:</label>
                                <textarea n:name="songAuthor" class="form-control" rows="5"></textarea>
                                <span class="help-block">Například W.A. Mozart, můžete přidat i více autorů.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label n:name="songName">Název skladby:</label>
                                <textarea n:name="songName" class="form-control" rows="5"></textarea>
                                <span class="help-block">Například Eine kleine Nachtmusik, můžete přidat i více skladeb.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label n:name="note">Poznámka:</label>
                                <textarea n:name="note" class="form-control" rows="5"></textarea>
                                <span class="help-block">Toto je poznámka pro učitele, který akci vytvořil. Například sem můžete napsat kdo a na jaký nástroj doprovází toto představení.</span>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <input n:name="send" class="btn btn-success">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <h2>Upravit akci</h2>

                <form n:name="editEventForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label n:name="name">Název akce:</label>
                                <input n:name="name" class="form-control" placeholder="Název akce">
                                <span class="help-block">Například besídka, koncert atp.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label n:name="date">Datum:</label>
                                <input n:name="date" class="form-control dateinput" placeholder="Datum konání">
                                <span class="help-block">Vybete datum z kalendáře, který se objeví po kliknutí do políčka.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label n:name="place">Místo:</label>
                                <input n:name="place" class="form-control" placeholder="Místo konání">
                                <span class="help-block">Například koncertní sál ZUŠ Velké Bílovice</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label n:name="note">Poznámka:</label>
                                <textarea n:name="note" class="form-control" rows="5"></textarea>
                                <span class="help-block">Tato poznámka se přidá na konec programu, napište sem například kdo celou besídku doprovází a na jaký hudební nástroj.</span>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <input n:name="send" class="btn btn-success">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Return a helper with preserved width of cells
        var fixHelper = function (e, ui) {
            ui.children().each(function () {
                $(this).width($(this).width());
            });
            return ui;
        };

        $("#sort tbody").sortable({
            helper: fixHelper,
            update: function ( event, ui ) {
                $.ajax( {
                    url: {plink movePerformance!},
                    method: "GET",
                    data: {
                        performanceId: $( ui.item ).attr( 'id' ).match( /\d+/ )[ 0 ],
                        position: $( ui.item ).index() + 1
                    }
                } );
            }
        }).disableSelection();
    </script>
{/block}
