<html>
<body>
	<div style="text-align: center; width: 100%; font-size: 20px;">ZUŠ Velké Bílovice</div>
	<div style="text-align: center; width: 100%; font-size: 32px; border-bottom: 2px solid black;">PROGRAM</div>
	<div style="text-align: center; width: 100%; font-size: 16px; border-top: 2px solid black; margin: 2px;">Žákovská besídka 31. března 2015</div>

	<table width="100%" border="1">
		<tr n:foreach="$event->performances as $performance">
			<td valign="top" width="10%">{$iterator->counter}.</td>
			<td valign="top">{$performance->songAuthor|nl2br|noescape}</td>
			<td valign="top"><strong>{$performance->songName|nl2br|noescape}</strong></td>
			<td valign="top">
				{foreach $performance->children as $child}
					{$child->name}{sep}<br/>{/sep}
				{/foreach}
			</td>
			<td valign="top">
				{foreach $performance->children as $child}
					{$child->instrument}{sep}<br/>{/sep}
				{/foreach}
			</td>
			<td valign="top" width="10%">
				{foreach $performance->children as $child}
					{$child->class}{sep}<br/>{/sep}
				{/foreach}
			</td>
		</tr>
	</table>

	<ul>
		<li n:foreach="$teacherSummary as $teacher => $children">
			{$teacher}: {$children|implode:', '}
		</li>
	</ul>
</body>
</html>
