<html>
<body>
<div style="text-align: center; width: 100%; font-size: 20px;">ZUŠ Velké Bílovice</div>
<div style="text-align: center; width: 100%; font-size: 32px; border-bottom: 2px solid black;">PROGRAM</div>
<div style="text-align: center; width: 100%; font-size: 20px; border-top: 2px solid black; margin: 2px;">{$event->name} {$event->date|date:"d.m.Y"}
</div>

<table width="100%" border="0" style="border-collapse: collapse;">
    <tr n:foreach="$event->performances as $performance">
        <td style="padding: 6px 10px" valign="top" width="10%">{$iterator->counter}.</td>
        <td style="padding: 6px 10px" valign="top">{$performance->songAuthor|nl2br|noescape}</td>
        <td style="padding: 6px 10px" valign="top">
            {$performance->songName|nl2br|noescape}
        </td>
        <td style="padding: 6px 10px" valign="top">
            <strong>
                {foreach $performance->children as $child}
                    {$child->name}{sep}<br/>{/sep}
                {/foreach}
            </strong>
        </td>
        <td style="padding: 6px 10px" valign="top">
            <i>
                {foreach $performance->children as $child}
                    {$child->instrument}{sep}<br/>{/sep}
                {/foreach}
            </i>
        </td>
        <td style="padding: 6px 10px" valign="top" width="10%">
            <i>
                {foreach $performance->children as $child}
                    {$child->class}{sep}<br/>{/sep}
                {/foreach}
            </i>
        </td>
    </tr>
</table>
<br>
<strong>Jednotlivá čísla připravili tito učitelé::</strong>
<ul>
    <li n:foreach="$teacherSummary as $teacher => $children">
        {$teacher}: {$children|implode:', '}
    </li>
</ul>
<p><strong>{$event->note}</strong></p>
</body>
</html>
